{% schema %}
  {
    "name": "Blog overview",
    "settings": [
      {
        "type": "color",
        "id": "bg-color",
        "label": "Background Color",
        "default": "#ffffff"
      },
      {
        "type": "header",
        "content": "Font"
      },
      {
        "type": "range",
        "id": "font_size_title",
        "min": 0.2,
        "max": 5,
        "step": 0.2,
        "unit": "rem",
        "label": "Font Size Heading",
        "default": 2
      },
      {
        "type": "checkbox",
        "id": "font_weight_title",
        "default": false,
        "label": "Font Weight Heading"
      },
      {
        "type": "range",
        "id": "font_size_link",
        "min": 0.2,
        "max": 4,
        "step": 0.2,
        "unit": "rem",
        "label": "Font Size Link",
        "default": 2
      },
      {
        "type": "checkbox",
        "id": "font_weight_link",
        "default": false,
        "label": "Font Weight Link"
      },
      {
        "type": "range",
        "id": "font_size_card_title",
        "min": 0.2,
        "max": 4,
        "step": 0.2,
        "unit": "rem",
        "label": "Font Size Card Title",
        "default": 2
      },
      {
        "type": "checkbox",
        "id": "font_weight_card_title",
        "default": false,
        "label": "Font Weight Card Title"
      }
    ],
    "blocks": [
      {
        "type": "blog",
        "name": "Blog",
        "settings": [
          {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
          }          
        ]
      }
    ]
  }
{% endschema %}

<style>
  #MainContent {
    background: {{ section.settings.bg-color }} !important;  
    padding-top: 128px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  footer {
    margin: 0 !important;
  }
  
  .blogs {
    max-width: 1150px;
    margin: 60px auto 80px;
  }  

  .blog-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .blog-header h2 {
    font-size: {{ section.settings.font_size_title }}rem;
    font-weight: {% if section.settings.font_weight_title %}bold{% else %}unset{% endif %};    
  }

  .blog-header a {
    font-size: {{ section.settings.font_size_link }}rem;
    font-weight: {% if section.settings.font_weight_link %}bold{% else %}unset{% endif %};    
  }

  .blog-header {
    margin: 50px 0 ;
  }

  .blog {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
  }

  .blog-cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 -5px;
    overflow-x: auto;
  }

  .blog-card {
    width: 400px;
    max-width: 33%;
    text-align: center;
    padding: 0 5px;
  }

  .blog-card img {
    width: 100%;
  }

  .blog-card h2 {
    padding: 0 20px;
    text-align: center;
    font-size: {{ section.settings.font_size_card_title }}rem;
    font-weight: {% if section.settings.font_weight_card_title %}bold{% else %}unset{% endif %};
  }

  @media screen and (max-width: 950px) {
    .blog-card {
      min-width: 50%;
      width: 50%;
      max-width: 100%;
    }    
  }

  @media screen and (max-width: 650px) {
    .blog-card {
      min-width: 65%;
      width: 65%;
      max-width: 100%;
    }    
  }

  @media screen and (max-width: 500px) {
    .blog-card {
      min-width: 80%;
      width: 80%;
      max-width: 100%;
    }    
  }
</style>

<div class="blogs">
  {% for block in section.blocks %}
    <div class="blog">
      <div class="blog-header">
        <h2>{{ block.settings.blog.title }}</h2>
        <a href="{{ block.settings.blog.url }}" style="text-transform:uppercase;color: black;">See all</a>
      </div>
      <div class="blog-cards">
        {% for article in block.settings.blog.articles limit:3 %}
          <div class="blog-card">
            <a class="full-unstyled-link" href="{{ article.url }}">
              <img src="{{ article.image.src | image_url }}">
              <p style="width:100%;text-align:center;text-transform:uppercase;font-weight:bold;font-size:14px;">{{ article.tags }}</p>
              <h2>{{ article.title }}</h2>
            </a>
          </div>      
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  
</div>