{% schema %}
  {
    "name": "FAQ",
    "settings": [
      {
        "type": "header",
        "content": "Heading"
      },
      {
        "type": "text",
        "id": "title",
        "default": "Title",
        "label": "Title"
      },
      {
        "type": "range",
        "id": "font_size_section_heading",
        "min": 0,
        "max": 5,
        "step": 0.2,
        "unit": "rem",
        "label": "Font size",
        "default": 1.4      
      },
      {
        "type": "checkbox",
        "id": "font_weight_section_heading",
        "default": false,
        "label": "Font weight bold"
      },
      {
        "type": "header",
        "content": "Menu Heading"
      },
      {
        "type": "color",
        "id": "heading_color",
        "default": "#ad8260",
        "label": "Heading color"
      },
      {
        "type": "range",
        "id": "font_size_heading",
        "min": 0,
        "max": 5,
        "step": 0.2,
        "unit": "rem",
        "label": "Font size",
        "default": 1.4      
      },
      {
        "type": "checkbox",
        "id": "font_weight_heading",
        "default": false,
        "label": "Font weight bold"
      },
      {
        "type": "header",
        "content": "Links"
      },
      {
        "type": "range",
        "id": "font_size_links",
        "min": 0,
        "max": 5,
        "step": 0.2,
        "unit": "rem",
        "label": "Font size",
        "default": 1.4      
      },
      {
        "type": "checkbox",
        "id": "font_weight_links",
        "default": false,
        "label": "Font weight bold"
      }
    ],
    "blocks": [
      {
        "type": "link_list",
        "name": "Menu",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          }          
        ]
      }
    ]
  }
{% endschema %}

<style>
  .faq {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }

  .faq-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .faq-menu-list li a {
    text-decoration: none;
    color: black;
    font-size: {{ section.settings.font_size_links }}rem;
    font-weight: {% if section.settings.font_weight_links %}bold{% else %}unset{% endif %};  
    line-height: 30px;
  }

  .faq-see-all {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
    font-size: {{ section.settings.font_size_links }}rem;
    display: block;
    width: fit-content;
    margin-top: 15px;
  }

  .faq-see-all::after {  
    content: "\2192";
    font-family: "Glyphicons Halflings";
    line-height: 1;
    display: inline-block;
    padding-left: 5px;
  }

  .faq-menu {
    padding-bottom: 40px;
    border-bottom: 1px solid #E8E8E8;
  }

  .faq-menu h2 {
    font-size: {{ section.settings.font_size_heading }}rem;
    font-weight: {% if section.settings.font_weight_heading %}bold{% else %}unset{% endif %};
    color: {{ section.settings.heading_color }};
    margin: 0;
    margin-bottom: 15px;
  }

  .faq-title {
    font-size: {{ section.settings.font_size_section_heading }}rem;
    font-weight: {% if section.settings.font_weight_section_heading %}bold{% else %}unset{% endif %};    
    margin-bottom: 110px;
  }

  @media screen and (max-width: 900px) {
    .faq {
      display: block;
    }
  }
  #MainContent {
    padding-top: 128px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
</style>

<div style="max-width: 1100px;margin:60px auto;">
  <h2 class="faq-title">{{ section.settings.title }}</h2>
  <div class="faq">
   {% for block in section.blocks %}
     <div class="faq-menu">
       <h2>{{ block.settings.menu.title }}</h2>
        <ul class="faq-menu-list">
          {%- for link in block.settings.menu.links limit: 4 -%}
            <li>
              <a class="" href="{{ link.url }}" style="">
                {{ link.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
       <a class="faq-see-all" href="{{ block.settings.menu.links.first.url }}">See all Questions</a>
     </div>
   {% endfor %}
  </div>
</div>