{% schema %}
{
  "name": "General",
  "blocks": [
    {
      "type": "link_list",
      "name": "Sidebar menu",
      "settings": [
        {
          "type": "link_list",
          "id": "sidebar-menu",
          "default": "footer",
          "label": "Menu"
        },
        {
          "type": "header",
          "content": "Heading"
        },
        {
          "type": "checkbox",
          "id": "show_menu_heading",
          "default": false,
          "label": "Show Heading"
        },
        {
          "type": "color",
          "id": "heading_color",
          "default": "#ad8260",
          "label": "Heading color"
        },
        {
          "type": "range",
          "id": "font_size_heading",
          "min": 0,
          "max": 5,
          "step": 0.2,
          "unit": "rem",
          "label": "Font size",
          "default": 1.4      
        },
        {
          "type": "checkbox",
          "id": "font_weight_heading",
          "default": false,
          "label": "Font weight bold"
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "range",
          "id": "font_size_text",
          "min": 0,
          "max": 5,
          "step": 0.2,
          "unit": "rem",
          "label": "Font size",
          "default": 1.4      
        },
        {
          "type": "checkbox",
          "id": "font_weight_text",
          "default": false,
          "label": "Font weight bold"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        },
        {
          "type": "header",
          "content": "Mail"
        },
        {
          "type": "checkbox",
          "id": "sidebar-show-mail",
          "default": true,
          "label": "Show mail"
        },
        {
          "type": "text",
          "id": "sidebar-mail",
          "default": "mail@email.com",
          "label": "Mail"
        },
        {
          "type": "header",
          "content": "Font"
        },
        {
          "type": "range",
          "id": "font_size_heading",
          "min": 0,
          "max": 5,
          "step": 0.2,
          "unit": "rem",
          "label": "Font size heading",
          "default": 1.4      
        },
        {
          "type": "checkbox",
          "id": "font_weight_heading",
          "default": false,
          "label": "Font weight bold heading"
        },
        {
          "type": "range",
          "id": "font_size_text",
          "min": 0,
          "max": 5,
          "step": 0.2,
          "unit": "rem",
          "label": "Font size text",
          "default": 1.4      
        },
        {
          "type": "checkbox",
          "id": "font_weight_text",
          "default": false,
          "label": "Font weight bold text"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Category",
      "label": "Category Title"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "range",
      "id": "font_size_heading",
      "min": 0,
      "max": 5,
      "step": 0.2,
      "unit": "rem",
      "label": "Font size",
      "default": 1.4      
    },
    {
      "type": "checkbox",
      "id": "font_weight_heading",
      "default": false,
      "label": "Font weight bold"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "range",
      "id": "font_size_text",
      "min": 0,
      "max": 5,
      "step": 0.2,
      "unit": "rem",
      "label": "Font size",
      "default": 1.4      
    },
    {
      "type": "checkbox",
      "id": "font_weight_text",
      "default": false,
      "label": "Font weight bold"
    }
  ]
}
{% endschema %}

<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .page-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto 10px auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-wrapper h1 {
    margin-bottom: 30px !important;
  }

  .sidebar {
    width: 33.33333%;
  }

  .sidebar div {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .sidebar-text h2 {
    margin-top: 30px;
    margin-bottom: 6px !important;
  }

  .sidebar-text p {
    margin: 0 !important;
    line-height: 2.2rem;
  }

  .sidebar-text a {
    display: table;
    text-decoration: none;
    color: black;
  }

  .sidebar-text a svg {
    vertical-align: middle;
    margin-right: 10px;
  }

  .page-content {
    width: 58.33333%;
    padding: 0 !important;
    margin: 0 !important;
  }

  .menu-list {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
  }

  .menu-list li {
    margin-bottom: -2px !important;
  }

  .menu-list li a {
    color: black;
    text-decoration: none;
  }

  .menu-list .active {
    font-weight: bold !important;
  }
  
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .rte p {
    margin: 20px 0 !important;
  }

  .rte p:first-child {
    margin: 0 0 20px 0 !important;
  }

  .page-path {
    font-size: 1.3rem;
    margin-bottom: 70px;
  }

  .page-path a {
    text-decoration: none;
    color: black;
  }

  @media (min-width: 576px) {
    .page-wrapper {
      max-width: 540px;
    }    
  }

  @media (min-width: 768px) {
    .page-wrapper {
      max-width: 700px;
    }    

    .sidebar div:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;    
    }
  }

  @media (min-width: 992px) {
    .page-wrapper {
      max-width: 900px;
    }
  }

  @media (min-width: 1200px) {
    .page-wrapper {
      max-width: 1100px;
    }    
  }

  @media (max-width: 767px) {
    .page-wrapper {
      display: block !important;
    }

    .page-wrapper div {
      width: 100% !important;
    }

    .page-path {
      display: none;
    }
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-wrapper">
  <h3 class="page-path" style="width: 100%;"><a href="/" style="font-weight: bold;">Home</a> / <a href="/pages/help" style="font-weight: bold;">Help</a> / {{ section.settings.title }}</h3>

  {% if section.blocks.size > 0 %}
    <div class="sidebar">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'link_list' %}
            <div class="sidebar-menu">
              {%- if block.settings.sidebar-menu != blank -%}
                {% if block.settings.show_menu_heading == true %}
                  <h2 style="margin: 0 0 20px 0;color:{{ block.settings.heading_color }};font-size: {{ block.settings.font_size_heading }}rem; font-weight:{% if block.settings.font_weight_heading == true %}bold{% else %}unset{% endif %};">{{ block.settings.sidebar-menu.title }}</h2>
                {% endif %}
                <ul class="menu-list">
                  {%- for link in block.settings.sidebar-menu.links -%}
                    <li>
                      <a class="{% if link.title == page.title %}active{% endif %}" href="{{ link.url }}" class="" style="font-size: {{ block.settings.font_size_text }}rem; font-weight:{% if block.settings.font_weight_text == true %}bold{% else %}unset{% endif %};">
                        {{ link.title }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </div>
          {% when "text" %}
            <div class="sidebar-text">
              <h2 style="font-size: {{ block.settings.font_size_heading }}rem; font-weight: {% if block.settings.font_weight_heading == true %}bold{% else %}unset{% endif %};">{{ block.settings.heading }}</h2>
              <p>
                <style>
                  .sidebar-text p {
                    font-size: {{ block.settings.font_size_text }}rem; 
                    font-weight: {% if block.settings.font_weight_text == true %}bold{% else %}unset{% endif %};
                  }
                </style>
                {{ block.settings.subtext }}
              </p>
              {% if block.settings.sidebar-show-mail == true %}
                <a href="mailto:{{ block.settings.sidebar-mail }}">
                  {% render 'icon-mail' %}{{ block.settings.sidebar-mail }}
                </a>
              {% endif %}
            </div>          
        {% endcase %}
      {% endfor %}
    </div>
  
    <div class="page-content page-width page-width--narrow section-{{ section.id }}-padding">
      <h1 style="font-size: {{ section.settings.font_size_heading }}rem; font-weight:{% if section.settings.font_weight_heading == true %}bold{% else %}unset{% endif %};" class="main-page-title page-title h0">
        {{ page.title | escape }}
      </h1>
      <div style="font-size: {{ section.settings.font_size_text }}rem; font-weight:{% if section.settings.font_weight_text == true %}bold{% else %}unset{% endif %};" class="rte">
        {{ page.content }}
    
        {% if page.title == "Before you contact us..." %}
          <div class="color-{{ section.settings.color_scheme }} gradient">
            <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
              {%- if section.settings.heading != blank -%}
                <h2 class="title title-wrapper--no-top-margin {{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</h2>
              {%- else -%}
                <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
              {%- endif -%}
              {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
                {%- if form.posted_successfully? -%}
                  <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</h2>
                {%- elsif form.errors -%}
                  <div class="form__message">
                    <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
                  </div>
                  <ul class="form-status-list caption-large" role="list">
                    <li>
                      <a href="#ContactForm-email" class="link">
                        {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                      </a>
                    </li>
                  </ul>
                {%- endif -%}
                <div class="contact__fields">
                  <div class="field">
                    <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
                    <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
                  </div>
                  <div class="field field--with-error">
                    <input
                      autocomplete="email"
                      type="email"
                      id="ContactForm-email"
                      class="field__input"
                      name="contact[email]"
                      spellcheck="false"
                      autocapitalize="off"
                      value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                      aria-required="true"
                      {% if form.errors contains 'email' %}
                        aria-invalid="true"
                        aria-describedby="ContactForm-email-error"
                      {% endif %}
                      placeholder="{{ 'templates.contact.form.email' | t }}"
                    >
                    <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
                    {%- if form.errors contains 'email' -%}
                      <small class="contact__field-error" id="ContactForm-email-error">
                        <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                        <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
                      </small>
                    {%- endif -%}
                  </div>
                </div>
                <div class="field">
                          <select name="cars" id="cars">
                            <option value="1">Optie 1</option>
                            <option value="2">Optie 2</option>
                            <option value="3">Optie 3</option>
                            <option value="4">Optie 4</option>
                          </select>
<!--                   <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
                  <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label> -->
                </div>
                <div class="field">
                  <textarea
                    rows="10"
                    id="ContactForm-body"
                    class="text-area field__input"
                    name="contact[{{ 'templates.contact.form.comment' | t }}]"
                    placeholder="{{ 'templates.contact.form.comment' | t }}"
                  >
                    {{- form.body -}}
                  </textarea>
                  <label class="form__label field__label" for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label>
                </div>
                <div class="contact__button">
                  <button type="submit" class="button" style="width: 100%;">
                    {{ 'templates.contact.form.send' | t }}
                  </button>
                </div>
              {%- endform -%}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  
  {% endif %}
  
</div>








