{% schema %}
{
  "name": "Term + Conditions",
  "blocks": [
    {
      "type": "link_list",
      "name": "Sidebar menu",
      "settings": [
        {
          "type": "link_list",
          "id": "sidebar-menu",
          "default": "footer",
          "label": "Menu"
        },
        {
          "type": "header",
          "content": "Heading"
        },
        {
          "type": "checkbox",
          "id": "show_menu_heading",
          "default": false,
          "label": "Show Heading"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "heading_color",
          "default": "#ad8260",
          "label": "Heading color"
        },
        {
          "type": "range",
          "id": "font_size_heading",
          "min": 0,
          "max": 5,
          "step": 0.2,
          "unit": "rem",
          "label": "Font size",
          "default": 1.4      
        },
        {
          "type": "checkbox",
          "id": "font_weight_heading",
          "default": false,
          "label": "Font weight bold"
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "range",
          "id": "font_size_text",
          "min": 0,
          "max": 5,
          "step": 0.2,
          "unit": "rem",
          "label": "Font size",
          "default": 1.4      
        },
        {
          "type": "checkbox",
          "id": "font_weight_text",
          "default": false,
          "label": "Font weight bold"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        },
        {
          "type": "header",
          "content": "Mail"
        },
        {
          "type": "checkbox",
          "id": "sidebar-show-mail",
          "default": true,
          "label": "Show mail"
        },
        {
          "type": "text",
          "id": "sidebar-mail",
          "default": "mail@email.com",
          "label": "Mail"
        },
        {
          "type": "header",
          "content": "Font"
        },
        {
          "type": "range",
          "id": "font_size_heading",
          "min": 0,
          "max": 5,
          "step": 0.2,
          "unit": "rem",
          "label": "Font size heading",
          "default": 1.4      
        },
        {
          "type": "checkbox",
          "id": "font_weight_heading",
          "default": false,
          "label": "Font weight bold heading"
        },
        {
          "type": "range",
          "id": "font_size_text",
          "min": 0,
          "max": 5,
          "step": 0.2,
          "unit": "rem",
          "label": "Font size text",
          "default": 1.4      
        },
        {
          "type": "checkbox",
          "id": "font_weight_text",
          "default": false,
          "label": "Font weight bold text"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "range",
      "id": "font_size_heading",
      "min": 0,
      "max": 5,
      "step": 0.2,
      "unit": "rem",
      "label": "Font size",
      "default": 1.4      
    },
    {
      "type": "checkbox",
      "id": "font_weight_heading",
      "default": false,
      "label": "Font weight bold"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "range",
      "id": "font_size_text",
      "min": 0,
      "max": 5,
      "step": 0.2,
      "unit": "rem",
      "label": "Font size",
      "default": 1.4      
    },
    {
      "type": "checkbox",
      "id": "font_weight_text",
      "default": false,
      "label": "Font weight bold"
    }
  ]
}
{% endschema %}

<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  @media (min-width: 768px) {
    .page-wrapper {
      max-width: 700px;
    }    
  }

  @media (min-width: 992px) {
    .page-wrapper {
      max-width: 900px;
    }
  }
  
  .page-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto 10px auto;
  }

  .page-wrapper h1 {
    margin-bottom: 30px !important;
  }

  .sidebar {
    width: 33.33333%;
  }

  .sidebar div {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .sidebar div:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;    
  }

  .sidebar-text h2 {
    margin-top: 30px;
    margin-bottom: 6px !important;
  }

  .sidebar-text p {
    margin: 0 !important;
    line-height: 2.2rem;
  }

  .sidebar-text a {
    display: table;
    text-decoration: none;
    color: black;
  }

  .sidebar-text a svg {
    vertical-align: middle;
    margin-right: 10px;
  }

  .page-content {
    width: 58.33333%;
    padding: 0 !important;
    margin: 0 !important;
  }

  .menu-list {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
  }

  .menu-list li {
    margin-bottom: -2px !important;
  }

  .menu-list li a {
    color: black;
    text-decoration: none;
  }
  
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .rte p {
    margin: 20px 0 !important;
  }

  .rte p:first-child {
    margin: 0 0 20px 0 !important;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-wrapper">

  {% if section.blocks.size > 0 %}
    <div class="sidebar">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'link_list' %}
            <div class="sidebar-menu">
              {%- if block.settings.sidebar-menu != blank -%}
                {% if block.settings.show_menu_heading == true %}
                  <h2 style="margin: 0 0 20px 0;color:{{ block.settings.heading_color }};font-size: {{ block.settings.font_size_heading }}rem; font-weight:{% if block.settings.font_weight_heading == true %}bold{% else %}unset{% endif %};">{{ block.settings.heading }}</h2>
                {% endif %}
                <ul class="menu-list">
                  {%- for link in block.settings.sidebar-menu.links -%}
                    <li>
                      <a href="{{ link.url }}" class="" style="font-size: {{ block.settings.font_size_text }}rem; font-weight:{% if block.settings.font_weight_text == true %}bold{% else %}unset{% endif %};">
                        {{ link.title }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </div>
          {% when "text" %}
            <div class="sidebar-text">
              <h2 style="font-size: {{ block.settings.font_size_heading }}rem; font-weight: {% if block.settings.font_weight_heading == true %}bold{% else %}unset{% endif %};">{{ block.settings.heading }}</h2>
              <p>
                <style>
                  .sidebar-text p {
                    font-size: {{ block.settings.font_size_text }}rem; 
                    font-weight: {% if block.settings.font_weight_text == true %}bold{% else %}unset{% endif %};
                  }
                </style>
                {{ block.settings.subtext }}
              </p>
              {% if block.settings.sidebar-show-mail == true %}
                <a href="mailto:{{ block.settings.sidebar-mail }}">
                  {% render 'icon-mail' %}{{ block.settings.sidebar-mail }}
                </a>
              {% endif %}
            </div>          
        {% endcase %}
      {% endfor %}
    </div>
  
    <div class="page-content page-width page-width--narrow section-{{ section.id }}-padding">
      <h1 style="font-size: {{ section.settings.font_size_heading }}rem; font-weight:{% if section.settings.font_weight_heading == true %}bold{% else %}unset{% endif %};" class="main-page-title page-title h0">
        {{ page.title | escape }}
      </h1>
      <div style="font-size: {{ section.settings.font_size_text }}rem; font-weight:{% if section.settings.font_weight_text == true %}bold{% else %}unset{% endif %};" class="rte">
        {{ page.content }}
      </div>
    </div>
  {% endif %}
  
</div>








